<!-- pure html and bootstrap -->
<div class="wrapper">
<!--
	<p>
		obchodni firma = nazev
		ič (ičo)
		sídlo firmy
		místo podnikání
		registrační místo (kde se firma registrovala, možno změnit)
		vozidla ve vlastnictví (dropdown list)
		další...?
	</p>
-->
<form action="/dashboard" method="get">
	<div class="row">
	<div class="resultType">
	 	<h4>firma</h4>
	 </div>
	 <div class="col-md-4 mb-4">
		 <label for="jmeno">Název</label>
		 <input type="text" class="form-control" id="jmeno"  value="Motorsport A.S." >
	 </div>
	 <div class="col-md-4 mb-4" style="width: 120px;">
		 <label for="prijmeni">IČO</label>
		 <input type="text" class="form-control" id="prijmeni"  value="00029947" disabled>
	 </div>
	</div>

	<div class="row">
		<div class="resultType">
		 	<h4>sídlo</h4>
		 </div>
		<div class="col-md-4 mb-4">
			<label for="mesto">Město</label>
			<input type="text" class="form-control" id="mesto"  value="Brno" >
		</div>
		<div class="col-md-4 mb-4">
			<label for="adresa">Adresa</label>
			<input type="text" class="form-control" id="adresa"  value="Hybešova 21" >
		</div>
		<div class="col-md-4 mb-4" style="width: 100px;">
		 <label for="psc">PSČ</label>
		 <input type="text" class="form-control" id="psc" value="63000" >
	 </div>
	</div>

	<div class="row">
		<div class="resultType">
		 	<h4>místo podnikání</h4>
		 </div>
		<div class="col-md-4 mb-4">
			<label for="mestop">Město</label>
			<input type="text" class="form-control" id="mestop"  value="Brno" >
		</div>
		<div class="col-md-4 mb-4">
			<label for="adresap">Adresa</label>
			<input type="text" class="form-control" id="adresap"  value="Úvoz 18" >
		</div>
		<div class="col-md-4 mb-4" style="width: 100px;">
		 <label for="pscp">PSČ</label>
		 <input type="text" class="form-control" id="pscp" value="61000" >
	 </div>
	</div>

	<div class="row">
		<div class="resultType">
		 	<h4>registrační místo</h4>
		 </div>
		<div class="col-md-4 mb-4">
			<label for="mestor">Město</label>
			<input type="text" class="form-control" id="mestor"  value="Praha" >
		</div>
		<div class="col-md-4 mb-4">
			<label for="adresar">Adresa</label>
			<input type="text" class="form-control" id="adresar"  value="Nevim 99" >
		</div>
		<div class="col-md-4 mb-4" style="width: 100px;">
		 <label for="pscr">PSČ</label>
		 <input type="text" class="form-control" id="pscr" value="61200" >
	 </div>
	</div>



	<div class="row">
	<div class="resultType">
	 	<h4>vozidla</h4>
	 </div>
			<div class="col-md-4 mb-4">
				<table class="table table-reflow">
					<thead>
						<tr>
							<th>#</th>
							<th>Vozidla ve vlastnictví</th>
							<th>Upravit</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>
								<i class="fa fa-car" aria-hidden="true"></i>
								 <a href="/car">LJCPCBASDF1000237</a>
						 </td>
							<td>
								<button type="button" class="btn btn-primary" data-toggle="modal">
								 <a href="/car"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
							 </button>
							</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>
								<i class="fa fa-car" aria-hidden="true"></i>
								 <a href="/car">LJCPCBLCX99990237</a>
						 </td>
							<td>
								<button type="button" class="btn btn-primary" data-toggle="modal">
								 <a href="/car"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
							 </button>
							</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>
								<i class="fa fa-car" aria-hidden="true"></i>
								 <a href="/car">LJ15SDCX118000237</a>
						 </td>
							<td>
								<button type="button" class="btn btn-primary" data-toggle="modal">
								 <a href="/car"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
							 </button>
							</td>
						</tr>
						<tr>
							<th scope="row">4</th>
							<td>
								<i class="fa fa-car" aria-hidden="true"></i>
								 <a href="/car">LJCPCBLCX11000111</a>
						 </td>
							<td>
								<button type="button" class="btn btn-primary" data-toggle="modal">
								 <a href="/car"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
							 </button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>



	</div>


		<!-- Button trigger modal -->
	 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-top: 12px; float: right; margin-right: 100px">
	   Uložit změny
	 </button>
	 <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="margin-top: 12px; float: right; margin-right: 10px">
	   Zrušit změny
	 </button>

	 <!-- Modal -->
	 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		 <div class="modal-dialog" role="document">
			 <div class="modal-content">
				 <div class="modal-header">
					 <h5 class="modal-title" id="exampleModalLabel"></h5>
					 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						 <span aria-hidden="true">&times;</span>
					 </button>
				 </div>
				 <div class="modal-body">
					 Opravdu chcete uložit změny?
				 </div>
				 <div class="modal-footer">
					 <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
					 <button type="button" class="btn btn-primary" onclick="location.href = '/dashboard';">Ano</button>
				 </div>
			 </div>
		 </div>
	 </div>

	</form>
</div>
