<div class="header">
  <div class="header-text">
    <h1>Sewio Sporterizer</h1>
    <h3>"If You Can’t Measure It, You Can’t Improve It"</h3>
    <div class="buttons-wrapper">
      <button class="btn btn-success" routerLink="/login">
        Log in
      </button>
      <button class="btn btn-primary" routerLink="/registration">
        Register
      </button>
    </div>
    <div class="description">
      <h5>What is Sporterizer?</h5>
      <p>Sporterizer is a modern sports application, that utilizes real-time data to help coaches train better. It was developed as a bachelor thesis by Jan Ondruch, under a supervision from Ing. Vítězslav Beran, Ph.D.. Technology, as well as the idea for the project belongs to Sewio Networks s.r.o.</p>
      <p>Test account: email: lorem@ipsum.dolor; password: secret</p>
    </div>
  </div>
</div>