<div>
  <div class="container">

    <h1 class="title">Evidence řidičů, vozidel a přestupků</h1>
    <hr>

    <form class="form-signin">
      <h3 class="form-signin-heading">Prosím přihlašte se</h3>
      <label for="inputUsername" class="sr-only">Přihlašovací jméno</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Přihlašovací jméno" required autofocus>
      <label for="inputPassword" class="sr-only">Heslo</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Heslo" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Pamatovat si přihlášení
        </label>
      </div>
      <a routerLink="/dashboard">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit se</button>
      </a>
    </form>

  </div> <!-- /container -->
</div>